{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Job Apply Form</title>
<link rel="stylesheet" href="{% static 'Apply_job.css' %}?v=1.2">
</head>
<body>

<div class="form-container">
    <h2>Job Apply Form</h2>
        <form action="{% url 'Apply_job' job.id %}" method="post" >
        {% csrf_token %}
        <div class="form-group">
            <input type="text" id="name" name="u_name" placeholder="Enter your full name" required>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            <input 
            type="text"  name="phone"
            placeholder="Phone Number" 
            minlength="10" 
            maxlength="10" 
            pattern="[0-9]{10}" 
            title="Enter exactly 10 digit phone number"
            required>
        <input type="text" name="city" placeholder="City" required>
        <input type="text" name="state" placeholder="State" required>
        <input type="text" name="qualification" placeholder="Highest Qualification" required>
        <input type="text" name="college" placeholder="College / University" required>
        <input type="number" name="passing_year" placeholder="Passing Year" min="2000" max="2025" required>
        <input type="text" name="percentage" placeholder="Percentage" required>
        </div>
        <button type="submit">Submit Application</button>
    </form>
</div>

</body>
</html>

