{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Edit_post_job</title>
    <link rel="stylesheet" type="text/css" href="{% static 'edit_job.css' %}">
</head>
<body>

<div class="container">
    <h1> Edit post job</h1>

    <div class="form-box">
        <h2>Edit post job</h2>
        <form method="POST">
            {% csrf_token %} 
            <label>Job Title</label>
            <input type="text" name="title" required>

            <label>Description</label>
            <textarea name="description" required></textarea>

            <label>Salary</label>
            <input type="text" name="salary" required>

            <label>category</label>
            <input type="text" name="category" required>

            <label>company</label>
            <input type="text" name="company" required>

            <label>Location</label>
            <input type="text" name="location" required>

            <button type="submit">Edit Job</button>
        </form>
    </div>

    <div class="list-box">
        {% if jobs %}
        <table>
            <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Description</th>
                    <th>Salary</th>
                    <th>category</th>
                    <th>company</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{ job.title }}</td>
                    <td class="desc">{{ job.description|truncatechars:60 }}</td>
                    <td>{{ job.salary }}</td>
                    <td>{{ job.category  }}</td>
                    <td>{{ job.company }}</td>
                    <td>{{ job.location }}</td>
                    <td class="actions">
                          <a href="{% url 'edit_job' job.id %}" class="btn edit-btn">Edit</a>
                          <a href="{% url 'delete_job' job.id %}" class="btn delete-btn">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        {% endif %}
    </div>
</div>

</body>
</html>