{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Post Job</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'post_job.css' %}"> 

</head>

<body>

<div class="navbar">
    Job Portal - Post Job
</div>

<div class="container">
<div class="card">

<h2>Post New Job</h2>

<form method="POST">
{% csrf_token %}

<input type="text" name="job_title" placeholder="Job Title" required>

<input type="text" name="company" placeholder="Company Name" required>

<input type="text" name="location" placeholder="Location" required>

<input type="text" name="salary" placeholder="Salary">

<textarea name="description" rows="5" placeholder="Job Description"></textarea>

<button type="submit">Post Job</button>

</form>

</div>
</div>

</body>
</html>
